---
- name: Install required apt packages
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
    update_cache: true
  loop:
    - git
    - binutils-dev
    - libcurl4-openssl-dev
    - zlib1g-dev
    - libdw-dev
    - libiberty-dev
    - cmake
    - gcc
    - g++
    - protobuf-compiler
    - libssl-dev
    - pkg-config
    - clang
    - llvm
    - jq
    - ccze
